{% extends "layout.html" %}

{% block title %}
    Quoted Stocks
{% endblock %}

{% block main %}
    <div class="container text-center">
        <div class="mb-3">
            <h1 class="fw-bold">Quoted Stocks 📊</h1>
        </div>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Current Price</th>
                </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["price"] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
